.body{

  background-color: #000103;
    background-image: url(./bkegypt.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    margin: 0;
    padding: 0;
    background-size: 1870px,800px;
}

